<!-- <div> -->
  <!-- <h2 md-dialog-title >DIALOG CONTENT</h2>
  <hr>
  <md-dialog-content>
    Consequatur delectus nobis enim.
    Hic consequatur veritatis omnis voluptas voluptatum sit ea quae dolor.
    Recusandae qui libero nulla ea ipsam error.
    Ut est possimus itaque sit ullam inventore.
    <br>
    <strong>{{ data }}</strong>
  </md-dialog-content> -->

  <form-inscription></form-inscription>

  <!-- <md-dialog-actions>
    <button md-raised-button (click)='onCloseConfirm()'>CONFIRM</button>
    <button md-raised-button (click)='onCloseCancel()'>CANCEL</button>
  </md-dialog-actions> -->

<!-- </div> -->