/*Inscription html 1-5 //////////////////////////////*/
/*Code postal + Tel*/
.small.left {
  width: 35%;
}

/*Ville + Mail*/
.small.right{
  width: 60%;
}

.registerPage1,
.registerPage2,
registerPage3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}