<!-- Modal form-->
<div id="modal">
  
      <!-- Modal content -->
      <div class="modalContent">
  
        <div class="headerModal d-flex-row">
          <div class="d-flex-column">
            <!-- Title -->
            <div class="titleForm">
              <h3 class="title bold">Je m'inscris</h3>
              <p class="title">Comme entreprise RSE</p>
            </div>
            <!-- Subtitle -->
            <div class="subtitleForm" *ngIf="currentPage === 'registerPage1'">
              <p class="subtitle bold">Etape 1/5</p>
              <p class="subtitle">Coordonées de l'entreprise</p>
            </div>

            <div class="subtitleForm" *ngIf="currentPage === 'registerPage2'">
              <p class="subtitle bold">Etape 2/5</p>
              <p class="subtitle">Activité(s) de l'entreprise</p>
            </div>

            <div class="subtitleForm" *ngIf="currentPage === 'registerPage3'">
              <p class="subtitle bold">Etape 3/5</p>
              <p class="subtitle">Labels et normes de l'netreprise</p>
            </div>
          </div>
  
          <!-- Close modal button -->
          <div id="btnClose"></div>
  
        </div>
  
        <!-- Form -->
        <form action="index.html" method="post" ng-show='!my-var'>

          <div class="registerPage1" *ngIf="currentPage === 'registerPage1'">
  
            <div class="formElement large">
              <label for="name">Nom de l'entreprise</label>
              <input type="text" name="name">
            </div>
    
            <div class="formElement large">
              <label class="largeElem" for="adress">Adresse</label>
              <input class="largeElem" type="text" name="adress">
            </div>
    
            <div class="formElement small left">
              <label class="cp" for="cp">Code postal</label>
              <input  class="cp" type="text" name="cp">
            </div>
    
            <div class="formElement small right">
              <label  class="city" for="city">Ville</label>
              <input  class="city" type="text" name="city">
            </div>
    
            <div class="formElement small left">
              <label  class="tel" for="tel">Téléphone</label>
              <input  class="tel" type="tel" name="tel">
            </div>
    
            <div class="formElement small right">
              <label  class="mail" for="mail">Mail</label>
              <input  class="mail" type="email" name="mail">
            </div>

            <a class="btn-submit" (click)="goToPage('registerPage2')">etape suivante</a>

          </div>
  
          <!-- RegisterPage2 -->

          <div class="registerPage2" *ngIf="currentPage === 'registerPage2'">
            Page 2
            <a  class="btn-submit" (click)="goToPage('registerPage3')">etape suivante</a>
          </div>
          <div class="registerPage3" *ngIf="currentPage === 'registerPage3'">
            Page 3          
            <button class="btn-submit" type="submit">Enregistrer</button>
          </div>

          <!-- <input class="btn-submit large" type="submit" name="btn-submit" value="etape suivante">
          <a  class="btn-submit" (click)="goToPage('page2')">etape suivante</a> -->
          
  
        </form>
      </div>
    </div>